*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:rgb(65, 62, 62) ;
    margin: 40px;
}
.main{
    width: 85%;
    text-align: center;
    background-color: white;
    margin: 40px;
}
.link{
    text-align: center;
    margin: 10px 20px;
    padding: 20px 20px 5px 20px;
}
.link #home{
    background-color: yellowgreen;
    color: white;
}
a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
.clearfix{
    clear: both;
}
.section1 #head{
    margin: 0px;
    font-size: 40px;
    color: rgb(65, 62, 62);
}
.img1{
    height: 300px;
    width: 90%;
}
.section2{
    width: 90%;
    height: 300px;
    margin-left: 60px;
}
.section2 #column1, #column2, #column3{
    float: left;
    width: 30%;
    margin: 10px 20px 10px 10px;
    background-color: yellowgreen;
    color: white;
}
.section2 h4{
    margin: 14px 0px;
}
.section2 img{
    height: 150px;
    width: 100%;
}
.section2 p{
    color: rgb(65, 62, 62);
    margin: 0px 0px 20px 0px;
}
.section3{
    width: 90%;
    align-items: center;
    height: 320px;
    margin-left: 50px;
}
.section3 .column1, .column2, .column3{
    width: 33.333333%;
    float: left;
    text-align: left;
}
.section3  h3{
    color: rgb(73, 90, 39);
} 
.section3 button{
    border: 0px;
    color: white;
    background-color: rgb(65, 62, 62);
    padding: 8px;
}
.section4{
    height: 150px;
    width: 90%;
    margin: 0px 50px;
}
.section4 .column1{
    height: 100px;
    width: 50%;
    float: left;
}
.section4 .column1 #box1{
    padding: 2.5px;
    background-color: yellowgreen;
    float: left;
    width: 20%;
    font-size: 30px;
    color: white;
}
.section4 .column1 #box2{
    padding: 10px;
    background-color: rgb(65, 62, 62);
    width: 75%;
    float: left;
    text-align: left;
}
.section4 .column1 h3{
    color: yellowgreen;
}
.section5{
    padding: 20px;
}


