@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* Header */
.container-fluid, .container{
    text-align: center;
    font-family: 'Lora', serif;
}
#header{
    background-image: url(images/wall4.jpeg);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    background-color: rgb(17, 17, 17, .3);
    color: white;
}
nav a{
    color: white !important;
    padding: 10px;
    font-weight: bold;
}
#banner h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
}
/* About */
#design{
    background-color: rgb(196, 209, 223);
}
#subscribe form input{
    background-color: khaki;
}
/* Team */
#team i{
    font-size: 30px;
}
/* portfolio */
#portfolio .bg{
    background-color: rgb(17, 17, 17, .5);
}
#portfolio i{
    font-size: 75px;
}
/* Contact */
#contact{
    background-image: url(images/wall2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer a{
    text-decoration: none;
    color: goldenrod !important;
    padding: 10px;
    font-weight: bold;
}
